<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>
<body>

    <h1>Resurser til hjemløse</h1>

<table>

    <tr>
        <th>By</th>
        <th>Kategori</th>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Adresse</th>
        <th>Telefon</th>
        <th>Åbningstider</th>
        <th>Website</th>
    </tr>

    <tr>
        <td>Nørre Alslev</td>
        <td>Bosted</td>
        <td>Bostøtten</td>
        <td>Husly</td>
        <td>Bogensevej 10</td>
        <td>20334088</td>
        <td>Døgnåbent mandag-søndag</td>
        <td>-</td>
    </tr>

    <tr>
        <td>Nykøbing Falster</td>
        <td>Fællesaktiviteter</td>
        <td>Frisund</td>
        <td>Aktivitet/bevægelse</td>
        <td>Gaabensevej 100</td>
        <td>53338855</td>
        <td>Manda-Fredag 10-17</td>
        <td>-</td>
    </tr>

</table>
    
</body>
</html>
